torch
torchvision
torchaudio
torchsde
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
numpy==1.24.3
pyyaml
scipy
psutil
numba
colour-science
rembg
pixeloe
transparent-background
spandrel